@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="formBox">
  <h2>Edit</h2>

  <h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.HireDate)
    @Html.EditorFor(model => model.HireDate)
    
    @Html.LabelFor(model => model.Clients)
    @Html.DropDownList("ClientId")
  
    <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>